.log-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
  width: 100%;
  overflow: hidden;
}

.ring {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.ring i {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;
    
    background: transparent;
    /* background: ; */
}
.ring i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
}
.ring i:nth-child(2) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate 4s linear infinite;
}
.ring i:nth-child(3) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate2 10s linear infinite;
}
.ring:hover i {
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
}

  @keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }
  @keyframes animate2 {
      0% {
          transform: rotate(360deg);
        }
    100% {
        transform: rotate(0deg);
    }
}
.login {
    position: absolute;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background: transparent;
  }
  .login h2 {
    font-size: 2.5em;
    color: #fff;
    font-family: "Zain", sans-serif;
    cursor:default;
    background: transparent;
}
.login .inputBx {
    background: transparent;
    position: relative;
    width: 100%;
}
.login .inputBx input {
    background: transparent;
    font-family: "Lato", sans-serif;
    position: relative;
    width: 100%;
    padding: 12px 20px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 1.2em;
    color: #fff;
    box-shadow: none;
    outline: none;
  }

  .login .inputBx input::placeholder {
    color: rgba(255, 255, 255, 0.75);
  }
  .links {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: transparent;
}
.links a {
    background: transparent;
    color: #fff;
    text-decoration: none;
    font-family: "Zain", sans-serif;
    font-size: 1.3rem;
  }

  .links a u{
    background: transparent;
  }

#log-signin{
    border: 2px solid white;
    width: 70%;
    border-radius: 2rem;
    height: 2rem;
    display: flex;
    font-family: "Zain", sans-serif;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.4rem;
    background: white;
    padding: 1.3rem;
    font-weight: 900;
    transition: 2s;
    letter-spacing: 0.05rem;
    cursor: pointer;
}

.ring:hover #log-signin{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, aqua, blue, magenta, red, orange, yellow, green, cyan, blue, violet, cyan, skyblue);
    background-size: 400% 400%;
    animation: text_gradient 15s ease infinite;
    transition: 2s;
}

.links a u:hover{
    color: #ff357a;
}